div#total {
    /*Se usa tralha(#) quando for id e ponto (.) quando for CLASS*/
    width: 980px;
    height: auto;
    margin: auto;
    /*centraliza a divisão na página*/

}

header#topo {
    width: 100%;
    height: auto;
    float: left;
    /* background-color: yellow;*/
}

figure#logotipo {
    width: 204px;
    height: 84px;
    margin: 20px auto;
}

nav#menu {
    width: 100%;
    height: 40px;
    background-color: black;
    float: left;
    text-align: center;
    border-radius: 7px;
    /*deixa borda arredondada*/
}

nav#menu a {
    color: white;
    font-size: 16px;
    line-height: 40px;
    /*centraliza na vertical*/
    text-decoration: none;
    margin: 0 25px;
    text-transform: uppercase
}

nav#menu a:hover {
    text-decoration: underline;
}

figure#banner {
    width: 100%;
    height: auto;
    float: left;
    /*margin-left: 0px;
    margin-top: 5px;*/
    margin: 5px 0 0 0; /*Topo, direita, inferior e esquerda*/
}
figure#banner img{
    width: 100%;

}
article#conteudo{
    width: 60%;
    float: left;
}
aside#coluna{
    width: 35%;
    float: left;
}
footer#rodape{
    width: 100%;
    height: 30px;
    float: left;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 30px;
}